/* src/app.css */

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss/theme";

:root {
    --text: #05111a;
    --background: oklch(96.7% 0.003 264.542);
    --primary: #349bdb;
    --secondary: #908aea;
    --accent: #858177;

    --vecchio-primario: #4C3B4D;
    --vecchio-secondario: #A53860;
    --vecchio-sfondo: #0B6E4F;
    --vecchio-testo: #F4F7F5;

    --brand-gradient: linear-gradient(to right, var(--vecchio-primario), #a855f7);
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
    color: var(--text);
}

.navbar-theme {
    background-color: #29b5fc;
    color: var(--background);
}

.card-theme {
    background-color: rgba(255, 255, 255, 0.307);
    border: 1px solid #e5e7eb;
}

.animate-blob:hover {


    opacity: 35;
   background-color: #0B6E4F;
}

.search-theme{
    background: #EEEEEE;
    border-color: #0FC1A1;

}